@charset "UTF-8";
body { margin: 0; }

body * { outline: 1px solid rgba(40, 232, 40, 0.71); }

/*-------------------------------------->> HEADER <<--------------------------------------*/
header { position: relative; z-index: 0; overflow: hidden; width: 100%; height: 100%; background-color: #533f5a; padding-bottom: 20px; margin-bottom: 90px; }

/*---------------------------------------------------------Cuadros Blancos*/
.cuadros { position: absolute; z-index: 500; width: 150px; }

#circulo { bottom: 50px; left: 100px; }

#cuadrado { left: 250px; }

#triangulo { right: 250px; }

#play { bottom: 50px; right: 100px; }

/*---------------------------------------------------------Dibujo Me*/
.cuadro_me { margin: 40px 0; width: 40%; position: relative; z-index: 500; }

.mensaje_header { padding: 10px; margin-top: 100px; position: relative; z-index: 500; }

.mensaje_header h1 { margin: 0; color: #febb48; text-transform: uppercase; font-family: 'Hammersmith One', sans-serif; font-size: 2.5em; margin: 50px 0; }

/*---------------------------------------------------------Fondo Play*/
.mascara { position: absolute; top: 0; left: 0; width: 120%; height: 120%; pointer-events: none; }

.mascara2 { background-image: url(../images/header/comandps.png); z-index: 50; opacity: .35; }

.mascara1 { background-image: url(../images/header/comandps2.png); z-index: 25; opacity: .35; }

/*-------------------------------------->> SOBRE MI <<--------------------------------------*/
#sobre_mi { padding: 90px 0px; padding-top: 90px; padding-bottom: 90px; }

#sobre_mi h1 { font-family: 'Hammersmith One', sans-serif; font-size: 2.3em; text-transform: uppercase; }

#sobre_mi p { font-size: 1.3em; line-height: 1.3em; font-family: 'Josefin Slab', serif; }

.image_me { text-align: center; }

.image_me img { width: 12%; border-radius: 100%; padding: 10px; border: 1px solid #533f5a; background-color: #fff; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); top: 53.5em; }

/*---------------------------------------------------------Informacion SM*/
.bordes { margin: 0px 0px; }

.ayuda, .saludo { color: #2b1b34; text-align: justify; padding: 5px 20px 0px; border: 1px solid #533f5a; }

.ayuda_titulo { border-right: 1px solid #533f5a; }

.saludo_titulo { border-left: 1px solid #533f5a; }

/*---------------------------------------------------------Efecto Background*/
.bkd_oscura { background-color: #533f5a; color: #febb48; border: 1px solid #febb48; }

.bkd_dorada { background-color: #febb48; color: #533f5a; }

.image_me img.r_morado { background-color: #533f5a; border: 1px solid #febb48; }

.image_me img.r_dorado { background-color: #febb48; border: 1px solid #533f5a; }

/*-------------------------------------->> HABILIDADES <<--------------------------------------*/
#habilidades { padding: 90px 0px; padding-top: 90px; padding-bottom: 90px; }

#habilidades h1 { font-family: 'Hammersmith One', sans-serif; font-size: 2.3em; text-transform: uppercase; color: #2b1b34; }

#habilidades h2 { font-family: 'Hammersmith One', sans-serif; font-size: 1.5em; color: #2b1b34; }

#habilidades p { font-size: 1.3em; line-height: 1.3em; font-family: 'Josefin Slab', serif; }

.logos { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.section_circle { width: 200px; height: 200px; margin-top: 50px; margin-bottom: 20px; border: 10px solid #533f5a; position: relative; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); border-radius: 100%; }

/*---------------------------------------------------------"Section visual*/
.visual { position: relative; }

#heart { -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; color: #fff; font-size: 25px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#heart:hover::after { color: #3100ff; }

#heart:hover { color: #e54444; -webkit-transition: 0.1s; -o-transition: 0.1s; transition: 0.1s; font-size: 30px; }

.espacio { -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; margin: 0px 12px; }

.colorHeart { color: #e54444; }

.Noespacio { -webkit-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; margin: 0px 0px; }

#sass, #css { font-size: 70px; }

/*---------------------------------------------------------"Section programacion*/
#javascript, #jquery { font-size: 60px; margin: 0px 5px; }

/*---------------------------------------------------------"Section graficos*/
#photoshop, #illustrator { font-size: 60px; margin: 0px 5px; }

/*---------------------------------------------------------"Section frameworks css*/
#bootstrap, #foundation { font-size: 70px; margin: 0px 3px; }

/*-------------------------------------->> TRABAJOS <<--------------------------------------*/
#trabajos { padding-top: 90px; padding-bottom: 180px; }

#trabajos h1 { font-family: 'Hammersmith One', sans-serif; font-size: 2.3em; text-transform: uppercase; color: #2b1b34; }

#trabajos h2 { font-family: 'Hammersmith One', sans-serif; font-size: 1.5em; color: #2b1b34; }

#trabajos p { font-size: 1.3em; line-height: 1.3em; font-family: 'Josefin Slab', serif; color: #2b1b34; }

.maximo { margin-top: 50px; }

#pc { margin-right: 20px; width: 500px; position: relative; overflow: hidden; }

#cell { width: 150px; }

.pantalla { width: 500px; }

.web { position: absolute; z-index: -10; left: 3.5%; top: 13%; width: 93%; }

.tools i { font-size: 3.1em; margin: 0px 10px; }

.demo { background: #febb48; border-radius: 20px; padding: 5px 0px; border: 2px solid #febb48; cursor: pointer; }

.demo a { text-decoration: none; font-weight: bold; color: #2b1b34; display: block; }

.demo:hover { border: 2px solid #533f5a; }

/*---------------------------------------------------------Slider*/
.miniature { margin: 10px 20px; display: inline-block; opacity: 0.5; overflow: hidden; border: 1px solid #533f5a; }

.miniature img { width: 100%; }

.slider { margin: 10px 100px; }

.center .slick-center { opacity: 1; -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

@font-face { font-family: 'slick'; font-weight: normal; font-style: normal; src: url("../fonts/slick.eot"); src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev, .slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: none; background: transparent; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { color: transparent; outline: none; background: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: .25; }

.slick-prev:before, .slick-next:before { font-family: 'slick'; font-size: 20px; line-height: 1; opacity: .75; color: #febb48; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }

[dir='rtl'] .slick-prev { right: -25px; left: auto; }

.slick-prev:before { content: '←'; }

[dir='rtl'] .slick-prev:before { content: '→'; }

.slick-next { right: -25px; }

[dir='rtl'] .slick-next { right: auto; left: -25px; }

.slick-next:before { content: '→'; }

[dir='rtl'] .slick-next:before { content: '←'; }

footer { background-color: #febb48; padding: 30px 0px; padding-top: 30px; padding-bottom: 30px; }

footer .container { outline: 1px solid #533f5a; }

footer h1 { font-family: 'Hammersmith One', sans-serif; font-size: 2.3em; text-transform: uppercase; color: #2b1b34; }

footer p { font-size: 1.3em; line-height: 1.3em; font-family: 'Josefin Slab', serif; color: #2b1b34; }

footer a { text-decoration: none; }

#formulario_contacto { padding: 10px 20px; }

#formulario_contacto p { margin: 30px 0px 10px 0px; border: 1px solid #533f5a; border-radius: 20px; width: 80%; position: relative; left: 0; right: 0; margin-right: auto; margin-left: auto; }

input, textarea, #enviar_mensaje { width: 20em; border-radius: 20px; padding: 8px; font-family: 'Josefin Slab', serif; font-size: 1.3em; color: #533f5a; -webkit-transition: border .5s; -o-transition: border .5s; transition: border .5s; border: 3px solid #febb48; }

input:focus, textarea:focus { border: solid 3px #533f5a; }

textarea { height: 100px; resize: none; overflow: auto; }

#enviar_mensaje { background-color: #533f5a; color: #fff; height: 50px; cursor: pointer; margin-top: 40px; -webkit-transition: background-color 0.5s; -o-transition: background-color 0.5s; transition: background-color 0.5s; }

#enviar_mensaje:hover { background-color: #2b1b34; }

a.boton { width: 60px; height: 60px; border-radius: 100%; margin: 0px 10px; margin-top: 20px; position: relative; }

.github { background-color: #221e1b; }

.github:hover { background-color: #0b0b0a; -webkit-transition: .2s; -o-transition: .2s; transition: .2s; }

.whatsapp { background-color: #20B038; }

.whatsapp:hover { background-color: #299d3c; -webkit-transition: .2s; -o-transition: .2s; transition: .2s; }

.curriculum { background-color: #2266b0; font-weight: bold; }

.curriculum:hover { background-color: #295e98; -webkit-transition: .2s; -o-transition: .2s; transition: .2s; }

.soci-link { font-size: 2em; background: none; color: #fff; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

/*-------------------------------------->> MENU <<--------------------------------------*/
#menu { position: fixed; z-index: 900; width: 100%; top: 0; }

#menu { -webkit-transition: .5s all; -o-transition: .5s all; transition: .5s all; }

/*---------------------------------------------------------Logo*/
.logo a { text-transform: uppercase; color: #febb48; text-decoration: none; font-size: 1.3em; font-family: 'Ramabhadra', sans-serif; border: 2px solid #febb48; padding: 0px 10px; }

/*---------------------------------------------------------Opciones*/
#menu ul { padding: 0; }

#menu li { display: inline-block; margin: 0px 15px; }

#menu li a { text-decoration: none; text-transform: uppercase; color: #febb48; font-family: 'Ramabhadra', sans-serif; font-size: 0.9em; }

/*---------------------------------------------------------Responsive*/
@media screen and (max-width: 767px) { #menu { display: none; } }
