h1 {
  font-family: "Lobster", cursive;
  font-size: 2.3em;
  font-weight: 400;
  color: #6e7472; }

p {
  font-family: "Kanit", sans-serif;
  font-size: 17px;
  font-weight: 200; }

b {
  font-weight: 400 !important; }

#menu {
  text-transform: uppercase;
  background-color: #e0ebe8;
  position: fixed;
  z-index: 900;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Kanit", sans-serif; }

.l-header {
  height: 55px;
  position: relative; }

button {
  background-color: #d7e6e2;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: .75em 1em;
  font-size: 1.1em;
  text-decoration: none; }
  button:hover {
    background-color: #b8d2cb;
    color: white; }

.menu-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px; }

@media (max-width: 768px) {
  .logo {
    float: none; }

  .menu-btn {
    display: block; } }
.menu {
  float: right; }
  .menu-list {
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    list-style: none; }
  .menu-item {
    float: left;
    display: inline-block;
    padding: 0px 0px;
    margin: 5px 0px;
    font-size: 1.3em; }
  .menu-link {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: em(80, 16);
    height: em(80, 16);
    padding: 0.2em 1em;
    word-wrap: no-wrap;
    font-weight: 600;
    transition: all .3s ease; }
    .menu-link:hover, .menu-link:focus {
      background: #d7e6e2;
      color: #fff; }

@media (max-width: 768px) {
  .l-header {
    height: 80px; }

  .menu {
    float: none;
    padding-left: 0px; }
    .menu-item {
      display: block;
      float: none;
      transform: translateX(-100%);
      position: relative;
      top: 80px;
      margin: 0px 0px;
      padding-left: 20px;
      transition: all .3s ease-out; }
      .menu-item-play {
        display: block;
        transform: translateX(0);
        width: 150%; }
    .menu-item + .menu-item {
      border-top: 1px solid #c7dcd7; }
    .menu-link {
      background: #d7e6e2;
      position: relative;
      padding: 5px 0px;
      padding-left: 20px;
      left: -20px; }
      .menu-link:hover {
        background: #b8d2cb; }

  #menu-list {
    padding-left: 0px; } }
#hero {
  background-color: #e0ebe8;
  height: 100%; }

#lienzo {
  padding: 0px; }
  #lienzo img {
    width: 100%;
    padding: 0;
    margin: 0; }

.mensaje {
  position: absolute;
  top: 6.6em;
  padding: 2em;
  margin: 1em;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 5%;
  width: 260px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
  .mensaje #letras {
    color: #fff;
    font-size: 2.9em;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600; }

@media (max-width: 309px) {
  img#min {
    padding-top: 120px; }

  .mensaje {
    top: 5em;
    width: 73%;
    height: 340px;
    padding: 4em 2em 5em 2em; }
    .mensaje #letras {
      font-size: 2.3em; } }
@media (min-width: 310px) and (max-width: 380px) {
  img#min {
    padding-top: 50px; }

  .mensaje {
    top: 6em;
    width: 73%;
    height: 340px;
    padding: 4em 2em 1em 2em; }
    .mensaje #letras {
      font-size: 2.3em; } }
@media (max-width: 420px) {
  img#max {
    display: none; } }
@media (min-width: 421px) {
  img#min {
    display: none; }

  img#max {
    padding-top: 80px; }

  .mensaje {
    transform: translateX(60%);
    width: 400px;
    padding-top: 2em;
    padding-bottom: 2.3em;
    top: 9em;
    height: 340px; } }
#sobre_mi {
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 40px; }
  #sobre_mi h1 {
    text-align: center; }

#imagen {
  background-color: #eff5ae;
  overflow: hidden;
  padding-top: 170px;
  padding-left: 0;
  padding-right: 0; }
  #imagen #sala {
    width: 120%;
    transform: translateX(-5%); }

#help_you {
  padding-top: 15px; }

@media (max-width: 768px) {
  #imagen {
    display: none; } }
#habilidades {
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 40px; }

#logo {
  width: 640px; }
  #logo table th {
    text-align: center; }
    #logo table th img {
      width: 50%; }
  #logo table tr:nth-child(3) th img {
    width: 30%; }

#logo2 ul {
  padding: 0;
  text-align: left; }
  #logo2 ul li {
    display: inline;
    padding: 10px 50px; }
    #logo2 ul li img {
      width: 30%; }

/*# sourceMappingURL=main.css.map */
