#habilidades {
    padding-top: 120px;
    @include margen;
}

#logo {
    width: 640px;
    table{
        th{
            text-align: center;
            &:hover{
                
            }
            img{
                width: 50%;
            }
        }
        tr:nth-child(3){
            th{
                img{
                    width: 30%;
                }
            }
        }
    }    
}

th,tr{
}

#logo2 {
    ul {
        padding: 0;
        text-align: left;
        li {
            display: inline;
            padding: 10px 50px;
            img{
                width: 30%;
            }
        }
    }
}