#habilidades {
    text-align: left;
}

#caja{
    height: 100%;
    display: table;
    position: relative
}

#skills {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#logo {
    width: 640px;
    ul{
        text-align: center;
        padding: 0;
    }
    li {
        display: inline-block;
        padding: 10px 10px;
        &:nth-child(1) {
            img {
                width: 200px;
            }
        }
        &:nth-child(2) {
            img {
                width: 150px;
            }
        }
        &:nth-child(3) {
            img {
                width: 120px;
            }
        }
        &:nth-child(4) {
            img {
                width: 300px;
            }
        }
        &:nth-child(5) {
            img {
                width: 150px;
            }
        }
    }
}