
/*-------------------------------------->> HABILIDADES <<--------------------------------------*/

#habilidades{
    @include espacio_secciones($altura:90px, $arriba:true, $abajo:true);
    h1{
        @include titulos;
        color: $morado_negro;
    }
    h2{
        font-family: 'Hammersmith One', sans-serif;
        font-size: 1.5em;
        color: $morado_negro;
    }
    p{
        @include parrafos;
    }
}

.logos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.section_circle{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 10px solid $morado_oscuro;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
}

/*---------------------------------------------------------"Section visual*/

.visual{
//    background-color: $dorado_claro;
    position: relative;
}

#heart{
//    color: #e54444;
    transition: 0.3s;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#heart:hover::after{
    color: #3100ff;
}

#heart:hover{
    color: #e54444;
    transition: 0.1s;
    font-size: 30px;
}


.espacio{
    transition: 0.5s;
    margin: 0px 12px;
}

.colorHeart{
    color: #e54444;
}

.Noespacio{
    transition: 0.5s;
    margin: 0px 0px;
}

#sass, #css{
    font-size: 70px;
}

/*---------------------------------------------------------"Section programacion*/

#javascript, #jquery{
    font-size: 60px;
    margin: 0px 5px;
}

/*---------------------------------------------------------"Section graficos*/

#photoshop, #illustrator{
    font-size: 60px;
    margin: 0px 5px;
}

/*---------------------------------------------------------"Section frameworks css*/

#bootstrap, #foundation{
    font-size: 70px;
    margin: 0px 3px;
}