/*-------------------------------------->> HEADER <<--------------------------------------*/

header {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $morado_oscuro;
    padding-bottom: 20px;
    margin-bottom: 90px;
}


/*---------------------------------------------------------Cuadros Blancos*/

.cuadros {
    position: absolute;
    z-index: 500;
    width: 150px;
}

#circulo {
    bottom: 50px;
    left: 100px;
}

#cuadrado {
    left: 250px;
}

#triangulo {
    right: 250px;
}

#play {
   bottom: 50px;
    right: 100px;
}


/*---------------------------------------------------------Dibujo Me*/

.cuadro_me {
    margin: 40px 0;
    width: 40%;
    position: relative;
    z-index: 500;
}

.mensaje_header {
    padding: 10px;
    margin-top: 100px;
    position: relative;
    z-index: 500;
    h1 {
        margin: 0;
        color: $dorado_claro;
        text-transform: uppercase;
        font-family: 'Hammersmith One', sans-serif;
        font-size: 2.5em;
        margin: 50px 0;
    }
}

/*---------------------------------------------------------Fondo Play*/

.mascara{
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    pointer-events: none;
}

.mascara2{
    background-image: url(../images/header/comandps.png);
    z-index: 50;
    opacity: .35;
}

.mascara1{
    background-image: url(../images/header/comandps2.png);
    z-index: 25;
    opacity: .35;
}