$fuente:'Kanit',
sans-serif;
#hero {
    width: 100%;
    color: #fff;
}

#lienzo {
    background-color: $fondo;
    height: 550px;
    width: 100%;
    position: relative;
    padding-top: 30px;
    top: 35px;
    iframe {
        width: 100%;
        height: 550px !important;
    }
}

.leter {
    position: absolute;
    width: 500px;
    height: 470px;
    left: 52%;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    padding: 20px 100px;
    #maquinas {
        font-size: 3.5em;
        font-family: $fuente;
        text-transform: uppercase;
        text-align: center;
        font-weight:600;
    }
}

@media (max-width: 768px) {
    #lienzo {
        iframe {
            width: 100%;
        }
    }
}
