#hero {
    background-color: $fondo;
    height: 100%;
}

#lienzo {
    padding: 0px;
    img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.mensaje {
    position: absolute;
    top: 6.6em;
    padding: 2em;
    margin: 1em;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 5%;
    width: 260px;
    @include horizontally_center;
    #letras {
        color: #fff;
        font-size: 2.9em;
        font-family: $fuente2;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }
}

@media (max-width:309px) {
    img#min {
        padding-top: 120px;
    }
    .mensaje {
        top: 5em;
        width: 73%;
        height: 340px;
        padding: 4em 2em 5em 2em;
        #letras {
            font-size: 2.3em;
        }
    }
}

@media (min-width:310px) and (max-width:380px) {
    img#min{
        padding-top: 50px;
    }
    .mensaje {
        top: 6em;
        width: 73%;
        height: 340px;
        padding: 4em 2em 1em 2em;
        #letras {
            font-size: 2.3em;
        }
    }
}

@media (max-width: 420px) {
    img#max {
        display: none;
    }
}

@media (min-width: 421px) {
    img#min {
        display: none;
    }
    img#max {
        padding-top: 80px;
    }
    .mensaje{
        transform: translateX(60%);
        width: 400px;
        padding-top: 2em;
        padding-bottom: 2.3em;
        top: 9em;
        height: 340px;
    }
}