/*-------------------------------------->> MENU <<--------------------------------------*/

#menu {
    position: fixed;
    z-index: 900;
    width: 100%;
    top: 0;
}

#menu {
    transition: .5s all;
}


/*---------------------------------------------------------Logo*/

.logo {
    a {
        text-transform: uppercase;
        color: $dorado_claro;
        text-decoration: none;
        font-size: 1.3em;
        font-family: 'Ramabhadra', sans-serif;
        border: 2px solid $dorado_claro;
        padding: 0px 10px;
    }
}


/*---------------------------------------------------------Opciones*/

#menu {
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0px 15px;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $dorado_claro;
            font-family: 'Ramabhadra', sans-serif;
            font-size: 0.9em;
        }   }
}

/*---------------------------------------------------------Responsive*/

@media screen and (max-width:767px){
    #menu {
        display: none;
    }
}