@import "packs";

#menu {
    text-transform: uppercase;
    background-color: $fondo;
    position: fixed;
    z-index: 900;
    width: 100%;
    left: 0;
    top: 0;
    font-family: $fuente2;
}

.l-header {
    height: 55px;
    position: relative;
}

button {
    background-color: $clr1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.1875em;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: .75em 1em;
    font-size: 1.1em;
    text-decoration: none;
    &:hover {
        background-color: darken($clr1, 10%);
        color: white;
    }
}

.menu-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (max-width: 768px) {
    .logo {
        float: none;
    }
    .menu-btn {
        display: block;
    }
}

.menu {
    float: right;
    &-list {
        overflow: hidden;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    &-item {
        float: left;
        display: inline-block;
        padding: 0px 0px;
        margin: 5px 0px;
        font-size: 1.3em;
    }
    &-link {
        display: block;
        color: #fff;
        text-decoration: none;
        line-height: em(80, 16);
        height: em(80, 16);
        padding: 0.2em 1em;
        word-wrap: no-wrap;
        font-weight: 600;
        transition: all .3s ease;
        &:hover,
        &:focus {
            background: $clr1;
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .l-header {
        height: 80px;
    }
    .menu {
        float: none;
        padding-left: 0px;
        &-item {
            display: block;
            float: none;
            transform: translateX(-100%);
            position: relative;
            top: 80px;
            margin: 0px 0px;
            padding-left: 20px;
            transition: all .3s ease-out;
            &-play {
                display: block;
                transform: translateX(0);
                width: 150%;
            }
        }
        &-item+&-item {
            border-top: 1px solid darken($clr1, 5%);
        }
        &-link {
            background: $clr1;
            position: relative;
            padding: 5px 0px;
            padding-left: 20px;
            left: -20px;
            &:hover {
                background: darken($clr1, 10%);
            }
        }
    }
    #menu-list {
        padding-left: 0px;
    }
}
