$dorado_claro:#febb48;
$morado_oscuro: #533f5a;
$morado_negro:  #2b1b34;

//@mixin espacio_secciones {
//    padding: 90px 0px;
//}
//
@mixin espacio_secciones($altura:90px, $arriba:true, $abajo:true) {
    @if($arriba and $abajo){
        padding: $altura 0px;
    }
    @if($arriba){
        padding-top: $altura;
    }
    @if($abajo){
        padding-bottom: $altura;
    }
}


@mixin titulos {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.3em;
    text-transform: uppercase;
}

@mixin parrafos {
    font-size: 1.3em;
    line-height: 1.3em;
    font-family: 'Josefin Slab', serif;
}