@import "packs";
#sobre_mi {
    padding-top: 120px;
    @include margen;
        h1 {
            text-align: center;
        }
}

#imagen {
    background-color: #eff5ae;
    overflow: hidden;
    padding-top: 170px;
    padding-left: 0;
    padding-right: 0;
    #sala {
        width: 120%;
        transform: translateX(-5%);
    }
}

#help_you {
    padding-top: 15px;
}

@media (max-width:768px) {
    #imagen {
        display: none;
    }
}