#sobre_mi {
    & *{
    }
    #texto,
    #help_you {
        width: 50%;
    }

    #help_you{
        padding-top: 10px;
        h1{
            font-size: 2em;
            padding-top: 10px; 
        }
    }
}

