#lyft{
    padding-top: 50px;
    .descripcion{
        padding: 10px 0;
        width: 40%;
        h2{
          text-align: center;  
        }
    }
    .imagen{
        width: 100%;
        position: relative;
        img{
            &:nth-child(1){
                width: 500px;
                position: absolute;
                top:-370px;
                left: 55%;
                
            }
            &:nth-child(2){
                width: 150px;
                position: absolute;
                left: 50%;
                top: -260px;
            }
        }
    }
}


#wsp{
    padding-top: 13em;
    .imagen{
        width: 100%;
        position: relative;
        img{
            &:nth-child(1){
                width: 500px;
                position: absolute;
                top:-0px;
                left: 1%;
                
            }
            &:nth-child(2){
                width: 150px;
                position: absolute;
                left: 38%;
                top: 110px;
            }
        }
    }
    .descripcion{
        padding: 10px 0;
        width: 40%;
        h2{
          text-align: center;  
        }
        transform: translateX(140%);
    }
}