@import "packs";
h1 {
    font-family: $fuente1;
    font-size: 2.3em;
    font-weight: 400;
    color: #6e7472;
}

p {
    font-family: $fuente2;
    font-size: 17px;
    font-weight: 200;
}

b{
    font-weight:400 !important;
}


@import "menu";
@import "hero";
@import "sobremi";
@import "habilidades";