html body * {
    font-family: 'Kanit', sans-serif;
}
$fuenteSub: 'Lobster', cursive;

#sobre_mi,
#habilidades,
#works,
#contacto {
    padding-top: 90px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
    p {
        font-size: 18px;
        font-weight: 200;
        padding-left: 50px;
    }
    h1 {
        font-family: $fuenteSub;
        font-size: 3.5em;
        text-align: center;
        padding-left: 0;
        font-weight: 400;
        color: #6e7472;
    }
}

b{
    font-weight:400 !important;
}

h2{
    font-weight: 400!important;
    font-size: 3em;
    color: #6e7472;
    font-family: 'Lobster', cursive !important;
}
@import "menu";
@import "hero";
@import "sobremi";
@import "habilidades";
@import "works";
@import "contacto";

/*
#hero{
    background-color: $color-header;
    height: 600px;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    position: relative;
    top: -20px;
}
*/