@import "packs";

#contacto {
    h1 {
        color: #fff;
        font-size: 2em;
        font-family: $letra_h;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }
    p {
        font-family: $letra_p;
        font-size: 1.4em;
        color: #fff;
        text-align: center;
        b {
            font-size: 1.2em;
            color: $rojo_sa;
        }
    }
    .signo {
        font-size: 7em;
        margin: 0 !important;
        padding: 0;
        color: $rojo_sa;
    }
    .pri {
        position: relative;
        left: 20px;
        top: -25px;
    }
    .segu {
        position: relative;
        right: 20px;
        top: -15px;
    }
    .iconosocial {
        color: #fff;
        font-size: 3.5em;
        padding: 25px;
        border: 10px solid $rojo_sa;
        border-radius: 100%;
    }

}

.margintb{
    margin: 120px 0;
}

@media (max-width:767px){
    #contacto{
        .pri {
        left: -20px;
        } 
        th{
            padding: 50px 0;
        }
    }
    #contacto1{
         display: none;
        }
}

@media (min-width:768px){
    #contacto2{
        display: none;
    }
}