@import "packs";

#habilidades {
    h1 {
        font-family: $letra_h;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2em;
        color: #fff;
    }
    p{
        font-family: $letra_p;
        color: $rojo_sa;
        margin-bottom: 0;
    }
    
    table{
        width: 100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        border-radius: 5%;
        background-color: #fff;
        overflow: hidden;
        border: 5px solid #fff;
        th{
            padding: 15px;
        }
        tr:nth-child(1) th:nth-child(even){
            background-color: #fff;
            
        }
        tr:nth-child(1) th:nth-child(odd){
            background-color: $rojo_sa;
        }
        tr:nth-child(2) th:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(2) th:nth-child(even){
            background-color: $rojo_sa;
        }
        img{
            width: 100%;
        }
    }
}

@media (max-width:767px) {
    #habilidades{
        .menu{
            margin-bottom: 60px !important;
        }
        table{
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}
