@import "packs";
#tituloHeader {
    text-align: center;
    padding: 25px 0;
    #mensaje {
        p {
            padding: 0;
            margin: 0;
            &:nth-child(1) {
                @include letra_titulo (90px, $letramano, $morado_palido);
            }
            &:nth-child(2) {
                @include letra_titulo (37px, $letranorma, $blanco_opaco);
                font-weight: 300;
                position: relative;
                top: -20px;
            }
            &:nth-child(3) {
                @include letra_titulo (46px, $letramano, $rojo_sa);
                position: relative;
                top: -25px;
            }
            &:nth-child(4) {
                @include letra_titulo (35px, $letranorma, $blanco_opaco);
                font-weight: bold;
                text-transform: uppercase;
                position: relative;
                top: -25px;
            }
        }
    }
}

#estand {
    &_uno {
        @include cuadro (50%, none, 2%, 1%, 0%);
    }
    &_dos {
        @include cuadro (50%, 17%, none, 0%, 2%);
        transform: rotate(180deg);
    }
}

@media (max-width: 767px) {
    #cua_circulo,
    #cua_cuadrado,
    #cua_triangulo,
    #cua_play {
        display: none;
    }
    #me {
        display: inherit;
        position: relative;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }
    #estand {
        &_uno {
            display: none;
        }
        &_dos {
            display: none;
        }
    }
}

@media (max-width:400px) {
    #me {
        bottom: 11px;
    }
}

@media (min-width:401px) and (max-width:480px) {
    #me {
        bottom: 26px;
    }
}

@media (min-width:481px) and (max-width:520px) {
    #me {
        bottom: 50px;
    }
}

@media (min-width:521px) and (max-width:565px) {
    #me {
        bottom: 36px;
        width: 86%;
    }
}

@media (min-width:566px) and (max-width:630px) {
    #me {
        bottom: 10px;
        width: 70%;
    }
}

@media (min-width:631px) and (max-width:730px) {
    #me {
        bottom: 30px;
        width: 64%;
    }
}

@media (min-width:731px) and (max-width:767px) {
    #me {
        bottom: 30px;
        width: 57%;
    }
}

@media (min-width:768px) {
    #cuadrosme {
        #cua {
            &_circulo {
                @include cuadro (13%, 30px, 50px, 0px, 0px);
            }
            &_triangulo {
                @include cuadro (13%, 100px, 300px, 0px, 0px);
            }
            &_cuadrado {
                @include cuadro (13%, 230px, 50px, 0px, 0px);
            }
            &_play {
                @include cuadro (13%, 300px, 300px, 0px, 0px);
            }
        }
    }
    #me {
        position: absolute;
        width: 38%;
        z-index: 900;
        left: 70px;
        margin-bottom: 0;
        bottom: 0.8em;
    }
    #estand {
        &_uno {
            @include cuadro (15%, 46%, 42%, 0px, 0px);
        }
        &_dos {
            @include cuadro (15%, 8%, 73%, 0px, 0px);
            transform: rotate(180deg);
        }
    }
    #tituloHeader {
        text-align: center;
        padding: 70px 0;
        #mensaje {
            position: absolute;
            top: 15%;
            left: 47%;
            p {
                padding: 0;
                margin: 0;
                &:nth-child(1) {
                    @include letra_titulo (9vw, $letramano, $morado_palido);
                }
                &:nth-child(2) {
                    @include letra_titulo (5vw, $letranorma, $blanco_opaco);
                    font-weight: 300;
                    position: relative;
                    top: -45px;
                }
                &:nth-child(3) {
                    @include letra_titulo (6vw, $letramano, $rojo_sa);
                    position: relative;
                    top: -70px;
                }
                &:nth-child(4) {
                    @include letra_titulo (6vw, $letranorma, $blanco_opaco);
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    top: -90px;
                }
            }
        }
    }
}