$letranorma: 'Nunito',sans-serif;
$letramano: 'Satisfy',cursive;

$morado_palido: #F9CBFF;
$blanco_opaco: #EBEBEB;
$rojo_sa: #FD9CA9;
$morado_claro: #B09CC9;
$morado_oscuro: #54485C;
$color_h1: #604f6f;
$color2_h1:#f197a3;
$color_texto:#817091;
$fondo_azul: #446594;
$rojo_sa2: #ee7481;
$letra_h: 'Montserrat', sans-serif;
$letra_p: 'Open Sans', sans-serif;

@mixin letra_titulo ($size, $tipo, $color) {
    font-size: $size;
    font-family: $tipo;
    color: $color;
}

@mixin cuadro ($size, $top, $left, $bottom, $right) {
    width: $size;
    position: absolute;
    z-index: 0;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}