
.imgb {
    height: 100px;
    width: 130px;
    border: 4px solid $fondo_azul;
    border-radius: 7%;
}

#trabajos {
    h1 {
        text-align: center;
        color: $fondo_azul;
        font-family: $letra_h;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 22px;
    }
    
    .circle {
        border-color: $fondo_azul;
    }
    table {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        img{
           width: 100%; 
        }
    }
}

#descripcion{
    h2 {
            font-family: $letra_h;
            font-size: 1.8em;
            color: $color2_h1;
        }
    .demo{
        background-color: $fondo_azul;
        border: $fondo_azul;
        padding: 5px 20px;
        border-radius: 10%;
        font-size: 1.3em;
        color: #fff;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

#mocks {
    position: relative;
}

#descripcion {
    padding: 0px 20px;
    padding-top: 20px;
}

.imgWeb img{
    width: 100%;
}

@media (max-width:767px) {
    #trabajos {
        table {
            margin-bottom: 50px;
        }
    }
}