@import "packs";
@import "header";
@import "sobremi";
@import "habilidades";
@import "trabajos";
@import "contacto";
@import "menu";

body{
    margin: 0px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 10px;
    padding-right: 10px;
}

.altura100vh {
    height: 100vh;
}

.nopadding {
    padding: 0;
}

header {
    background: $morado_claro;
    background: linear-gradient(to right, $morado_claro 1%, $morado_oscuro 100%);
}

#sobre_mi {
    background-color: $blanco_opaco;
}

#habilidades {
    background-color: $fondo_azul;
}

#trabajos {
    background-color: #fff;
}

#contacto {
    background-color: $color_h1;
}

a {
    margin-top: 20px;
}

p {
        font-family: $letra_p;
        color: $color_texto;
    }

a{
    text-decoration: none;
}

@media (max-width:767px){
    .altura100vh{
        height: auto;
    }
}